.task-list {
list-style: none;
display:flex;
flex-direction: column;
align-items: center;
}

.task {
  background-color: rgb(180, 187, 84);
  border-radius:10px;
  width: 42rem;
  height:10rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-button { 
  display:none;
  margin:1rem;
}

.done { 
  background-color: rgb(180, 187, 168)
}

.done h1, 
.done p {
   text-decoration: line-through;
   color: rgb(70, 67, 67);
  }

.done button:hover {
    background-color: grey;
    border:2px solid;
    cursor: pointer;
}

.done button {
  display: block;
  border:1px solid rgb(102, 105, 105);
  text-align: center;
  border-radius: 5px;
  padding: 0 1rem;
  height: 2rem;
  width: 7rem;
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  color: rgb(30, 71, 30);
}

.task-header {
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 3px;
  margin-top: 1rem;
  font-size: 2rem;
}

/*------MOBILE VERSION-----*/
@media only screen and (max-width: 870px){
  .task {
    width: 18rem;
  }
}
